@using Biblioteca
@using BonustrackU8.Models
@model clsMision
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .nombreMision{
        opacity:0;
    }
</style>

<select>
@{
    foreach (clsMision mision in ListadoMisiones.ListadoMisionesCompleto())
    {
        @if (Model != null && Model.Nombre == mision.Nombre)
        {
            <option selected value="@Model.Nombre">@Model.Nombre</option>
        }
        else
        {
            <option value="@mision.Nombre">@mision.Nombre</option>
        }
    } 
}

</select>
<button type="submit"
    action="index">Ver Detalles</button>


