
@{
    ViewData["Title"] = "ListadoPersonas";
    var listadoPersonas = ViewBag.listPers;
}
<style >
    table {
        border-collapse: collapse;
    }

    td {
        border: 1px solid black;
        padding: 5px;
        width: 400px;
        text-align: center;
    }
</style>

<h1>ListadoPersonas</h1>
<table >
    @{
        for(int i =0; i <= listadoPersonas.size; i++)
        {
            <tr>
                @{
                    for (int j =0; j<=i; j++){
                        <td>@listadoPersonas[i]</td>
                        }
                }
            </tr>
        }
    }
</table>

