@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm(FormMethod.Post))
{

    <label>Nombre: </label>

    <input type="text" name="nombre">
    <br />
    <br />
    <button type="submit">Enviar</button>
}



    

