@{
    ViewData["Title"] = "Home Page";
    DateTime horaActual = DateTime.Now;
}

<h1>Son las @horaActual.Hour:@horaActual.Minute</h1>

@{
    if (horaActual.Hour <= 12)
    {
        <p>No hemos pasado las 12 del mediodía</p>
    }

    else
    {
        <p>Hemos pasado las 12 del mediodía</p>   
    }

}

